[Desktop Entry]
Comment=Fancy-Global Look And Feel
Name=Fancy-Global
X-KDE-PluginInfo-Author=l4k1
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Fancy-Global
X-KDE-PluginInfo-Version=6.2
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1598635,kns://plasma-themes.knsrc/api.kde-look.org/1598649,kns://aurorae.knsrc/api.kde-look.org/1598633,kns://icons.knsrc/api.kde-look.org/1598639,kns://icons.knsrc/api.kde-look.org/1281798,kns://wallpaper.knsrc/api.kde-look.org/1598609,kns://wallpaper.knsrc/api.kde-look.org/1425082,kns://sddmtheme.knsrc/api.kde-look.org/1598626
